.allTeams {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seasonSelectForm {
  position: relative;
}

.seasonSelectPosition {
  position: absolute;
  top: -80px;
  left: -70px;
}

@media (min-width: 1000px) {
  .seasonSelectPosition {
    left: -68px;
  }
}
