.teamInfo {
  padding-top: 45px;
  position: relative;
}

.teamTitle {
  padding: 30px 20px 30px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(285.93deg, #0088a6 0%, #00c5f0 100%);
  margin-bottom: 30px;
}

.teamTitle img {
  width: 100px;
  margin-right: 90px;
}

.teamTitle h2 {
  text-align: center;
  color: white;
  font-style: italic;
  font-weight: 1000;
  font-family: "Roboto";
}

.teamTitle h2 span {
  font-weight: 500;
}

.arrowLogo {
  color: #fdd123;
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 10;
}

.arrowLogo:hover {
  cursor: pointer;
  color: #006a82;
}

.coach span {
  font-weight: bold;
}

@media (min-width: 1000px) {
  .teamTitle {
    width: 770px;
    padding-left: 30px;
  }
  .teamTitle img {
    margin-left: 70px;
  }

  .teamTitle h2 {
    margin-left: 180px;
  }
}
