.teamStats {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 400px;
}

.teamStats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  border-radius: 5px;
}
.statsNumber {
  font-size: 36px;
  font-weight: 800;
}

.statsMatch {
  background-color: #f6f6f6;
  width: 155px;
  height: 80px;
}

.statsGoal {
  background-color: #d9d9d9;
  width: 155px;
  height: 80px;
}

.statsVictories {
  background-color: #b1e49f;
  width: 100px;
  height: 80px;
}

.statsLoses {
  background-color: #fe715e;
  width: 100px;
  height: 80px;
}

.statsDraws {
  background-color: #ffc42b;
  width: 100px;
  height: 80px;
}

@media (max-width: 350px) {
  .statsMatch {
    width: 100px;
  }
  .statsGoal {
    width: 100px;
  }
}
@media (min-width: 1000px) {
  .teamStats {
    max-width: 800px;
  }
  .statsMatch {
    width: 100px;
  }
  .statsGoal {
    width: 100px;
  }
}
