.over {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  width: 100%;
  margin-top: 40px;
}

@media (min-width: 1000px) {
  .cover {
    width: 600px;
    margin-top: 45px;
  }
}
