.content {
  position: relative;
  width: 166px;
  height: 300px;
  border: 3px solid #f7cb2a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  color: #6c6c6c;
}
.content:hover {
  border: 3px solid #e7e7e7;
}

.content:hover .name {
  text-decoration: none;
}

.imgContent {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.imgContent img {
  object-fit: contain;
}

.infoContent {
  height: 150px;
}

.statInfo {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  width: 155.5px;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.statMatches {
  background-color: #e7e7e7;
}

.statAssists {
  background-color: #d9d9d9;
}

.name {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline solid 2px #f7cb2a;
  font-size: 16px;
  width: 150px;
  padding: 0px 5px;
}

.position {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 5px;
}

.flag {
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 5px;
  width: 20px;
}
