.statContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerStats {
  margin-top: 30px;
  list-style-type: none;
  justify-content: center;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}

.playerStats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  border-radius: 5px;
}
.statsNumber {
  font-size: 36px;
  font-weight: 800;
}

.statsMatch {
  background-color: #f6f6f6;
  width: 105px;
  height: 80px;
  margin-bottom: 10px;
}

.statsGoal {
  background-color: #7be156;
  width: 105px;
  height: 80px;
  margin-bottom: 10px;
}

.statsAssists {
  background-color: #b1e49f;
  width: 105px;
  height: 80px;
}

.statsYellows {
  background-color: #ffc42b;
  width: 165px;
  height: 80px;
}

.statsReds {
  background-color: #fe715e;
  width: 165px;
  height: 80px;
}

@media (max-width: 350px) {
  .statsYellows {
    width: 105px;
  }
  .statsReds {
    width: 105px;
  }
}

@media (min-width: 1000px) {
  .playerStats {
    width: 600px;
    margin-left: -15px;
  }

  .statsYellows,
  .statsReds {
    width: 105px;
  }
}
