.playerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formRelative {
  position: relative;
}
.seasonPosition {
  position: absolute;
  top: -10px;
  left: -80px;
}

@media (min-width: 1000px) {
  .seasonPosition {
    left: -70px;
  }
}
