.commentForm {
  display: flex;
  margin-bottom: 20px;
}

.commentForm input {
  width: 250px;
  margin-right: 20px;
  border-radius: 5px;
  border: 2px solid #f6f6f6;
}

.commentItem {
  border-bottom: solid 1px #f6f6f6;
  padding-bottom: 10px;
  width: 400px;
}

.flexButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message {
  width: 70%;
  overflow-wrap: break-word;
}

.redButton {
  border: 1px solid red;
}
.margeButton {
  margin-right: 20px;
}
