body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-inline-start: 0px;
}

#root {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.button {
  font-family: Roboto;
  font-weight: 600;
  font-size: 10px;
  background: none;
  text-align: center;
  border: 1.5px solid #fbd01d;
  line-height: 12px;
  color: #231c1f;
  border-radius: 5px;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
}

.listLeagueTeam {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

#noMarginList {
  margin-top: 0px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  background-color: #f6f6f6;
  border-radius: 12px;
  padding: 10px 10px 5px 10px;
}

.listItem:hover {
  box-shadow: 2px 2px 3px grey;
}

.listItem p {
  color: #414141;
  text-align: center;
  font-size: 12px;
}
.listItem:hover .listArrow {
  border: 1px solid grey;
  color: grey;
}

.listItem img {
  max-width: 110px;
  min-height: 60px;
  max-height: 65%;
  object-fit: cover;
}

.listArrow {
  width: 20px;
  height: 20px;
  min-height: 20px;
  border: 1px solid #f7cb2a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7cb2a;
}

.arrowFlex {
  margin-top: -3px;
}

.seasonSelect {
  border: 1px solid #f7cb2a;
  border-radius: 5px;
  background-color: white;
  padding: 1px;
}
.seasonSelect:hover {
  cursor: pointer;
}

.statsBoard {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  font-family: Roboto;
  background-color: #f6f6f6;
  color: #414141;
  border-radius: 5px;
}

.statsBoard div {
  height: 35px;
}

.statsBoardTitle {
  background-color: #414141;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.statsBoard {
  text-align: center;
  margin-bottom: 2px;
}

@media (max-width: 1000px) {
  .statsBoardCardsInvisible {
    display: none;
  }
}

.statsBoard div .card {
  width: 14px;
  height: 24px;
}
.statsBoard div .cardActive {
  width: 22px;
  height: 28px;
}

.yellowCard {
  background-color: #f7cb2a;
}
.redCard {
  background-color: #fe715e;
}

.statsBoardPlayer {
  width: 48%;
  text-decoration: underline solid 2px #f7cb2a;
}

.statsBoard:hover .statsBoardPlayer {
  text-decoration: none;
}

.statsBoardTitle .statsBoardPlayer {
  text-decoration: none;
}
.statsBoardMatches {
  width: 16%;
  font-weight: 700;
}
.statsBoardGoals,
.statsBoardAssists {
  font-weight: 700;
  width: 16%;
}
.statsBoardCards {
  font-weight: 700;
}

.borderStats {
  width: 1px;
  background-color: #dddddd;
}

footer {
  margin-top: 20px;
  font-family: Roboto;
  font-weight: 700;
  border-radius: 5px;
  max-width: 100%;
  background-color: #f6f6f6;
  color: #231c1f;
  margin-bottom: 10px;
  padding: 20px;
}

@media (min-width: 1000px) {
  #root {
    width: 1000px;
  }

  .listLeagueTeam {
    max-width: 700px;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-left: 100px;
  }

  .statsBoard {
    width: 650px;
  }

  .statsBoardTitle {
    width: 650px;
  }
  .statsBoardCard {
    width: 12%;
  }

  .cardFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statsBoardPlayer {
    width: 30%;
  }
  .statsBoardMatches {
    width: 12%;
  }

  .statsBoardGoals {
    width: 12%;
  }
  .statsBoardAssists {
    width: 12%;
  }
  .statsBoardCards {
    width: 12%;
  }
}
