.over {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowLogo {
  color: #fdd123;
  font-size: 50px;
  margin-left: 20px;
}

.arrowLogo:hover {
  cursor: pointer;
  color: #006a82;
}

.leagueInfo {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.leagueInfo img {
  max-width: 100px;
}

.line {
  width: 50px;
  margin-top: 20px;
  border-bottom: solid 1px #d7d7d7;
}
