.mainContent {
  position: relative;
  background-size: cover;
  width: 400px;
  height: 270px;
  font-style: Roboto;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0px -2px 5px 0px #000000cc;
}

.mainContent h1 {
  color: #fbd01d;
  font-size: 29px;
  position: absolute;
  top: 78px;
  left: 67px;
  text-transform: uppercase;
}
.mainContent p {
  color: white;
  position: absolute;
  top: 117px;
  left: 40px;
}

.graphOne {
  position: absolute;
  top: 15px;
  width: 114px;
  left: 15px;
}
.graphTwo {
  position: absolute;
  width: 105px;
  bottom: 20px;
  right: 20px;
}

.graphThree {
  position: absolute;
  bottom: 5px;
}

@media (min-width: 1000px) {
  .mainContent {
    width: 600px;
    height: 405px;
  }

  .mainContent h1 {
    font-size: 40px;
    top: 125px;
    left: 110px;
  }
  .mainContent p {
    font-size: 23px;
    top: 195px;
    left: 75px;
  }

  .graphOne {
    width: 180px;
  }

  .graphTwo {
    width: 170px;
    bottom: 5px;
  }
  .graphThree {
    width: 250px;
  }
}
